<div>
  <h3 class="text-center pt-4 text-xl font-medium"> please insert all new client necessary data</h3>
  <form [formGroup]="addClientForm" class=" flex flex-col gap-4 mx-auto w-1/2 mt-6" (ngSubmit)="onSubmit()">
    <div class="flex flex-col gap-1">
      <label for="firstName">First name *</label>
      <input type="text" id="firstName" formControlName="firstName" placeholder="First name" class="basic-input-text" [ngClass]="isRequired('firstName')?'border-red-500': 'border'">
      <!-- <span class="text-red-500" *ngIf="this.addClientForm.get('firstName')?.hasError('required')"> * </span> -->
      <label for="lastName">Last name *</label>
      <input type="text" id="lastName" formControlName="lastName" placeholder="Last name" class="basic-input-text" [ngClass]="isRequired('lastName')?'border-red-500': 'border'">
    </div>

    <div class="flex flex-col gap-1">
      <label for="email">Email * <span class="" [ngClass]="this.addClientForm.get('email')?.invalid && this.addClientForm.get('email')?.touched ?'text-red-500 visible block': 'invisible inline'">please enter valide email</span></label>
      <input type="email" id="email" placeholder="email" formControlName="email" class="basic-input-text" [ngClass]="isRequired('email')?'border-red-500': 'border'">
    </div>

    <div class="flex flex-col gap-1">
      <span>Gendre *</span>
      <div class="flex flex-row items-center gap-4">
        <input type="radio" id="male-radio"  name="gender" formControlName="gender" value="Male">
        <label for="">Male</label>
      </div>
      <div class="flex flex-row items-center gap-4">
        <input type="radio" id="female-radio" name="gender" formControlName="gender" value="Female">
        <label for="">Female</label>
      </div>
    </div>
    <div class="flex flex-col gap-1">
      <label for="address">address</label>
      <input type="text" id="address" placeholder="address" formControlName="address" class="basic-input-text" [ngClass]="isRequired('address')?'border-red-500': 'border'">
    </div>
    <button type="submit" class="basic-button-submit disabled:cursor-not-allowed disabled:opacity-25" [disabled]="addClientForm.invalid">Create</button>

  </form>
</div>
