<h1 class="text-5xl p-4 text-center font-bold"> BANK </h1>
<div class="p-4 flex flex-col gap-4 items-center">
  <div class="border w-1/2  border-black rounded p-4 bg-gray-200">
    <p class="lg:text-4xl md:text-2xl font-bold text-center">TOTAL BANK USERS</p>
    <div class="text-9xl text-center ">
      {{clientNumber}} <span class="text-2xl text-center"> User </span>
    </div>
  </div>
  <div class="border w-1/2  border-black rounded p-4 bg-gray-200">
    <p class="lg:text-4xl md:text-2xl font-bold text-center">BANK NET WORTH</p>
    <div class="text-4xl text-center">
      {{netWorth.toLocaleString()}} <span class="text-2xl text-center"> MAD </span>
    </div>
  </div>
</div>
